.git/
.gitignore
.dockerignore

Dockerfile
Dockerfile.prod

docker-compose.yml
docker-compose.prod.yml

.idea/

**/__pycache__/
*.pyc
*.pyo

.pytest_cache/
.mypy_cache/

app/logs/
logs/

.env*
README.md
